.title {
    margin: 0 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
    padding-bottom: 30px;
    padding-top: 5px;
}

.title h2 {
    margin: 0;
    font-weight: 300;
}

.title::before {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: -30px;

    left: 50%;
    transform: translate(-50%);

    background: #4e93e6;
    width: 55px;
    height: 1px;
    margin: 30px auto;
}