.projectsBlock {
    min-height: 30vh;
    background-color: #27b281;
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.title{
    background-color: #ec7676;
}

.projects {
    border: 1px solid #5b0505;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}