.skillBlock {
    min-height: 30vh;
    background-color: #8bb227;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: #59524a;
}

.skills {
    border: 1px solid #5b0505;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}