.footerBlock {
    background-color: #7f8f53;
    height: 30vh;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    background-color: #564f49;
}

.footerBox{
    display: flex;
    width: 280px;
    justify-content: space-between;
    background-color: #9acbb5;
}

.Box {
    background-color: #9b9999;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.copyright {
    background-color: #8f4f4f;
}